

#page-container #page-content.home {

  margin-top: 0px;
  max-width: none;
  width: 100%;

  section.title {
    cursor: pointer;
    position: relative;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      transition: height .6s;
    }
    padding: 0;
    margin-bottom: -5px;

    h2 {
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
      font-size: 2rem;
      font-weight: bold;      
    }
    button {
      position: absolute;
      bottom: 20%;
      left: 50%;
      font-weight: 900;
      transform: translateX(-50%);
      padding: 0 4rem;
    }

    &.reduced {
      button { display: none; }
      img { height: 50vh; }
    }
  }

  iframe {
    border: 8px solid white;
    border-radius: 5px;
    margin: 1rem 0;
  }
  .btn-primary-neutral {
    font-size: 1.8rem;
    line-height: 3rem;
    height: 3rem;
  }
  .actions {   
    .btn {
      width: 16rem;
    }

    .btn.new-project {      
      font-weight: bold;
    }

    .secondary-buttons .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      text-transform: none;
      border-width: 4px;
      img {
        display: inline;
        height: 1.5rem;
        width: auto;
        margin-right: 5px;
      }
    }
    .secondary-buttons a:not(:last-child) { margin-right: 1rem; }
  }

  section.projects {
    background-color: transparent;
    @media screen and (min-width: 900px) {
      margin-top: 30px;
      max-width: 900px;
      width: 80%;
      margin: 0 auto;
    }
  }

  h2 { 
    font-size: 4rem; 
    font-weight: bold;
    margin-bottom: 3rem;
    img {
      height: 5rem;
      margin-right: 1rem;
    }
  }

  section.video {
    border-radius: 0 !important;
  }
  iframe.video-demo {
    width: 100%;
    max-width: 500px;
    height: 250px;
  }

  .all-projects-container {
    background-image: url("../img/background2.jpg");
    background-size: contain;
    padding-top: 5rem;
    section {
      background-color: white;
    }
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .pinned-projects-container {
    position: relative;
    img.img-hand {
      
      width: 300px;
      height: auto;
      position: absolute;
      &.before {
        left: 0;
        top: 50px;
      }
      &.after {
        right: 0;
        top: -150px;
      }
      @media (max-width: 900px) {
        display: none;
      }
      @media (max-width: 1200px) {
        width: 200px;
        &.before { top: 70px; }
        &.after { top: -70px; }
      }
    }
  }
  .pinned-projects {
    margin-bottom: 4rem;
  }
  .search-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    input.search {
      flex: 1 auto;
      border: none !important;
      padding: 10px;
      border-radius: 5px;
    }
    .btn.sort {
      margin-left: 10px;
      font-size: .9rem;
      height: 30px;
      line-height: 28px;

      @media (max-width: 720px) {
        margin-top: 10px;
      }

      &.desc:after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid white;
        content: "";
        position: relative;
        top: 13px;
        right: -6px;
      }
      &.asc:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid white;
        content: "";
        position: relative;
        top: -10px;
        right: -6px;
      }
    }
  }
  .pagination {
    margin-top: 3rem;
  }
  .project-container {
    width: 33%;
    line-height: 1.5rem;
    padding: 20px;
    padding-bottom: 0;

    @media (max-width: 720px) {
      width: 100%;
    }

    .project-item {
      border-radius: 4px;
      border: 6px solid;

      .project-logo {
        width: 100%;
        height: 200px;
        object-fit: contain;
        padding: 10px;
        object-position: center;
        &.default {
          padding: 2rem;
        }
      }

      .project-content {
        padding: 20px;
        margin-top: -10px;
        background-color: white;
        position: relative;

        .name { font-size: 1.1rem; }
        .data-size {
          position: absolute;
          top: -18px;
          right: 15px;
          color: white;
          padding: 2px 8px;
          border-radius: 3px;
          font-weight: bold;
          font-size: .8rem;

          .icon {
            padding-top: 2px;
            float: right;
            padding-left: 2px;
          }
        }
        .published-at-int, .published-at, .tags {
          display: none;
        }
      }
    }
  }
}


